<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;

        }


        label {
            width: 80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color:cornflowerblue;color: white">
        资讯管理部
    </div>
    <div>
        <div style="position: absolute;top:48px;bottom: 0;left: 0;width: 200px;background-color: lightcyan;">
            <a class="menu" href="/userinfo">用户管理</a>
            <a class="menu" href="/groupinfo">用户组管理</a>
            <a class="menu" href="/hostinfo">主机管理</a>
            <a class="menu" href="/idcinfo">机房管理</a>
        </div>
        <div style="position:absolute;top:48px;left: 210px;bottom: 0;right: 0;overflow: auto">

            <h3>添加用户</h3>
            <form method="POST" action="/userinfo">
                <p>
                    <label for="username">用户名：</label>
                    <input id=username type="text" name="user" />
                </p>
                <p>
                    <label for="password">密码：</label>
                    <input id=password  type="password" name="pwd" />
                </p>
                <p>
                    <label for="email">邮箱：</label>
                    <input id=email type="text" name="email" />
                </p>
                <p>
                    <label for="groupname">组：</label>
                    <select id="groupname" name="gid">

                         {% for row in group_list %}

                          <option value ={{ row.id }}>{{ row.groupname }}</option>

                         {% endfor %}

                    </select>
                </p>
                <p>

                    <input type="submit" value="添加"/>
                </p>
            </form>

            <h3>用户列表</h3>
            <ul>
                {% for row in user_list %}
                    <li>
                        <a href="/userdetail-{{ row.id }}/">{{ row.username }}</a> |
                        <a href="/userdel-{{ row.id }}/">删除</a> |
                        <a href="/useredit-{{ row.id }}/">编辑</a>
                    </li>
                {% endfor %}
            </ul>


        </div>

    </div>

</body>
</html>